#glyph_del {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 100;
}
#glyph_edit{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
}
.loader {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: #2A3F54;
    z-index: 30000;
    display: none;
}

.img-loader{
    width: 15%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
}

.info-deploiement{
    position: absolute;
    background-color: #2a3f54;
    margin: 10px;
    padding: 10px;
    right: 0px;
    color: white;
    z-index: 25000;
    /*list-style-type: none;*/
    display: none;
}

.disable{
    opacity: 0.7;
}
.disable:hover{
    pointer-events: none;
}